<div class="aside-inner">
    <nav class="sidebar">
       <ul class="nav">
            <li class="nav-heading">
               <span>Main Navigation</span>
            </li>
            <li>
                <a [routerLink]="['/Home']">
                    <em class="icon-speedometer"></em><span>Home</span>
                </a>
            </li>            
            <li>
                <a [routerLink]="['/Dashboard']">
                    <em class="icon-speedometer"></em><span>Dashboard</span>
                </a>
            </li>
            <li><a [routerLink]="['/About']">About</a></li>
            
        </ul>
    </nav>
</div>