/*override bootstrap*/
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.navbar, .nav-wrapper {
    min-height:55px;
}

.panel-default > .panel-heading {
    color: #444444;
    background-color: #ffffff;
    border-color: #cfdbe2;
}