<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
    <!-- START navbar header-->
    <div class="navbar-header">
       <a href="#/" class="navbar-brand">
         <div class="brand-logo">
            <img src="./assets/img/logo.png" alt="App Logo" class="img-responsive" />
         </div>
         <div class="brand-logo-collapsed">
            <img src="./assets/img/logo-single.png" alt="App Logo" class="img-responsive" />
         </div>
      </a>       
    </div>
</nav>
<!-- END navbar header-->